[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/rspec"]
	path = bundle/rspec
	url = https://github.com/Keithbsmiley/rspec.vim.git
[submodule "bundle/ruby-syntaxchecker"]
	path = bundle/ruby-syntaxchecker
	url = https://github.com/vantares/ruby-syntaxchecker.vim
